{
  "DB_IP": "",
  "DB_NAME": "",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_PORT": "",
  "API_HOST": "if havent nodejs api then kill this line",
  "LOGIN_ID": "",
  "LOGIN_PASSWORD": "",
  "COMMAND_PATH": "server restart command file path",
  "COMMAND_PATH2": "server stop command file path",
  "CRYPT_KEY": "cannot change"
}
